/* Шрифты:
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/*
:root {
   --main-font: 'Roboto', sans-serif;

   /* для лого: */
   --secondary-font: 'Raleway', sans-serif;

   --accent-color: #2196f3;
   --title-color: #212121;
   --text-color: #757575;

   --bgc-main: #2f303a;
   --bgc-secondary: #f5f4fa;

   --card-gap: 30px;
} */
